.header {

}
.body {

}
.nav {

}
.main {

}
.section {

}
.div {

}
.h1 {
 width: 100%;
 border: solid black;
 height: 85px;
 text-align: center;
 font-size: 40px;
}
.h2 {

}
.h3 {

}
.footer {

}
.box {

}
